@charset "utf-8";
html, body {
<<<<<<< HEAD
	height: 100%;
=======
	height:100%;
>>>>>>> origin/master
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #6AABA2;
	margin: 0 auto;
	padding: 0;
	color: #000;
	overflow-y: scroll;
	min-height:100%;
}

.container {
	width: 70%;
	background-color: #175f60;
	max-width: 1260px;
	min-width: 780px;
	min-height:100%;
	margin: 0 auto; 
	overflow: hidden; 
	padding: 20px;
	clear: both;
}

.header {
	margin: 0 auto;
	text-align:center;
}

.navigation a {
	color:#FFF;
	font-weight:700;
	padding-left: 70px;
	font-size:16px;
	float: right;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.navigation li {
	display: inline;
}

.navigation a:link {
    text-decoration: none;
}

.navigation a:visited {
    text-decoration: none;
}

.navigation a:hover {
    text-decoration:underline;
}

.navigation a:active {
    text-decoration: underline;
}

.content {
	color: #FFF;
}

/*.imagebox {
	width: 40%;
	height: 40%;
	padding: 10px;
	padding-top:20px; 
	max-width :300px;
	max-height: 300px;
	float: left;
}

.imagebox img {
	padding-top:20px;
	max-width:100%;
	max-height:100%;
} */

.icon {
	width:64px;
	height:64px;
	padding:20px;
	display:inline;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  clear:both;
}